Форма
<%= form_for @eqpfamily, :url => { :action => :eqpfamily_create } do |form| %>
	<p>Наименование: <%= form.text_field :name, :size => 30 %></p>
	<p><%= form.submit "Добавить"  %></p>
<% end %>