		<hr>
		<div id="navmain" class="span-24 last">		    
		    <%= link_to "Каталог", 		admin_path %> |
		    <%= link_to "Пользователи",  		users_path %> 
		    <%= link_to "Выход",  		logout_path %> 
		</div>
		<hr>