		<hr>
		<!– footer –>
		<div id="footer" class="span-24 last">
		    <div id="descript" class="span-10" first>
				<h6 class="alt">
				    ЗАО "Росхолод-Хабаровск", 2011 год
				</h6>
		    </div>

		</div>
