
		<div id="header" class="span-24 last">
		    <div id="contact" class="span-10" first>
			<h4 class="alt">
			    г.Хабаровск<br>
			    ул. Комсомольская, 96<br>
			    тел.: (4212) 32-85-47, факс: (4212) 76-44-48
			</h4>
		    </div>
		    <div id="logo" class="span-10 right last">
		    <% if @IsRoot.nil? %>
		    	<% logo = image_tag("/images/rosholod_main.png", :width => "365", :height => "80", :alt => "ЗАО Росхолод-Хабаровск") %>
		    	<%= link_to logo, root_path %>
		    <% else %>
		    	<%= image_tag("/images/rosholod_main.png", :width => "365", :height => "80", :alt => "ЗАО Росхолод-Хабаровск") %>
			<% end %>
			
				
		    </div>
		</div>
