<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Rosholod</title>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="/assets/blueprint/screen.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/blueprint/print.css?body=1" media="print" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]><link href="/assets/blueprint/ie.css?body=1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <link href="/assets/custom.css" media="screen" rel="stylesheet" type="text/css" />
                                                                                      
</head>
<body>
    <div class="container">
	<header>
	</header>
	<section>
	    <%= yield %>
	</section>
	<footer>
	</footer>
    </div>
</body>
</html>
