<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Rosholod</title>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="/assets/application.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/admin.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/blueprint/ie.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/blueprint/plugins/buttons/screen.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/blueprint/plugins/fancy-type/screen.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  
  <link href="/assets/blueprint/plugins/link-icons/screen.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/blueprint/plugins/rtl/screen.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/blueprint/print.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/blueprint/screen.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/blueprint/src/forms.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/blueprint/src/grid.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/blueprint/src/ie.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/blueprint/src/print.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/blueprint/src/reset.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/blueprint/src/typography.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/pages.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/scaffolds.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/users.css?body=1" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
	<header>
	</header>
	<section>
	    <%= yield %>
	</section>
	<footer>
	</footer>
    </div>
</body>
</html>
