<!DOCTYPE html>
<html>
<head>
  <title>Rosholod</title>
  <%= stylesheet_link_tag  "aplication" %>
  <%= javascript_include_tag "aplication" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
