<!DOCTYPE html>
<html>
<head>
  <title>Rosholod</title>
  <%= csrf_meta_tag %>
</head>
<body>
    <div class="container">
	<header>
	</header>
	<section>
	    <%= yield %>
	</section>
	<footer>
	</footer>
    </div>
</body>
</html>
